// Pagina Progetti sass

.card {
  border: 4px solid #FCBF49;
  border-radius: 15px;
  height: 500px;
  &:hover {
    border: 4px solid #D62828;
  }
  a {
    min-height: 40%;
    max-height: 50%;
    .pappo {
      height: 100%;
      .card-img-top {
        max-height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 25px;
      }
    }
  }
  .card-body {
    overflow-y: scroll;
    font-family: 'Trispace', sans-serif;
  }
}
