// Pagina Progetti sass

.card {
  border: 4px solid #FCBF49;
  border-radius: 15px;
  height: 400px;
  &:hover {
    border: 4px solid #D62828;
  }
  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-radius: 25px;
    max-height: 70%;
  }
  .card-body {
    overflow-y: scroll;
    font-family: 'Trispace', sans-serif;
  }
}
